<link rel="icon" href="{{ "favicon.ico" | relURL }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "icon.webp" | relURL }}" type="image/webp">
    <link rel="mask-icon" color="#db7ade" href="{{ "icon.webp" | relURL }}" type="image/webp">
    <link rel="icon" href="{{ "favicon.ico" | relURL }}" type="image/png">
    <link rel="icon" href="{{ "icon.webp" | relURL }}" type="image/png">
    <meta property="og:image" content="{{ "icon.webp" | relURL }}" type="image/webp">
    <meta property="og:image:alt" content="Hank J. Wimbleton">
    <meta name="msapplication-TileColor" content="#db7ade">
    <meta name="msapplication-config" content="none">
