<footer>
    {{- with .Site.Params.footer }}
        {{- . }}
    {{- else }}
        {{- with .Site.Params.listUrl }}
            <a href="https://gljcsjeabrej7icumcowmknna23rgkkzxf6ckd4neqfhn4zuigdgbdyd.onion">Tor</a> | <a href="/index.xml">Blog RSS</a> | <a href="/about/">About Me</a> | © 2021 June | <a target="_blank" href="https://github.com/Zanthed/eridan.me">Website Source</a> | <a href="{{- . }}">View All Posts</a>
        {{- else }}
            this is a footer
        {{- end }}
    {{- end }}
</footer>
